{% extends 'meetups/base/base.html' %}
{% load static %}

<!-- 
double curly brackets for things you are outputting. 
single curly brackets with % for injecting.
-->

{% block title %}All meetups{% endblock %}
{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}
We got good meetups coming up!
{% endblock %}

{% block header_content %}
<p>Find the one that best suits your needs!</p>
{% endblock %}

{% block body %}

{% if meetup_found %}
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {% for i in meetups %}
            {% include 'meetups/includes/meetup-item.html' with title=i.title location='New York' slug=i.slug%}
        {% endfor %}
    </ol>
</section>

{% else %}
<p>No meetup found for this slug.</p>
{% endif %}

{% endblock %}
